:root {
    --primary-color: #8d493a;
    --surface-low-color: #f8ede3;
    --surface-medium-color: #dfd3c3;
    --surface-high-color: #d0b8a8;
    --rounded: 0.5rem;
}

body {
    font-family: "Inter", sans-serif;
    background-color: var(--surface-low-color);
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
