@import "../components/featured-products.css";

.categories {
    width: 100%;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
}

@import "../components/category-tile.css";
