<div class="w-full sm:px-4">
    <div class="text-3xl font-bold mb-4">Featured Row</div>
    <div
        class="gap-6 w-full overflow-auto flex snap-x snap-mandatory no-scrollbar"
    >
        <include src="src/components/product-tile.html"></include>
        <include src="src/components/product-tile.html"></include>
        <include src="src/components/product-tile.html"></include>
        <include src="src/components/product-tile.html"></include>
        <include src="src/components/product-tile.html"></include>
        <include src="src/components/product-tile.html"></include>
        <include src="src/components/product-tile.html"></include>
    </div>
</div>
