<section class="w-full">
    <h2 class="mb-4 text-4xl font-bold">{{rowTitle}}</h2>
    <div
        class="no-scrollbar flex w-full min-w-0 snap-x snap-mandatory gap-6 overflow-auto"
    >
        {% include "components/product-tile.html" %}
        <!--  -->
        {% include "components/product-tile.html" %}
        <!--  -->
        {% include "components/product-tile.html" %}
        <!--  -->
        {% include "components/product-tile.html" %}
        <!--  -->
        {% include "components/product-tile.html" %}
        <!--  -->
        {% include "components/product-tile.html" %}
    </div>
</section>
