<form>
    <h2 class="font-bold text-lg">Price</h2>
    <div class="flex gap-2">
        <input type="number" placeholder="Start" class="input" />
        <input type="number" placeholder="End" class="input" />
    </div>

    <h2 class="font-bold text-lg mt-4">Author</h2>
    <select class="select">
        <option>Crimson</option>
        <option>Amber</option>
        <option>Velvet</option>
    </select>

    <h2 class="font-bold text-lg mt-4">Language</h2>
    <select class="select">
        <option>Slovak</option>
        <option>English</option>
        <option>Hungarian</option>
    </select>

    <h2 class="font-bold text-lg mt-4">Release year</h2>
    <div class="flex gap-2">
        <input type="number" placeholder="Start" class="input" />
        <input type="number" placeholder="End" class="input" />
    </div>

    <button class="btn btn-primary mt-4" type="submit">Filter</button>
</form>
