<div class="flex items-start gap-4">
    <a href="./detail.html flex-none">
        <img
            class="h-[4rem] w-[4rem] rounded-lg flex-none"
            src="https://picsum.photos/200/300"
        />
    </a>

    <div class="sm:mr-8">
        <a href="./detail.html" class="font-bold text-xl"
            >Lorem ipsum dolor sit
        </a>
        <div class="font-semibold text-md mb-2">Artist name</div>
    </div>

    <input type="number" value="1" class="input max-w-14" />
    <div class="">3,89€</div>

    <button class="cursor-pointer">
        <span class="material-symbols-outlined !text-[14px]"> close </span>
    </button>
</div>
