<div class="w-full">
    <img
        class="w-full aspect-square rounded-lg"
        src="https://picsum.photos/200/300"
    />

    <div class="p-2">
        <div class="font-bold text-xl">Lorem ipsum dolor sit</div>
        <div class="font-semibold text-md mb-2">Artist name</div>

        <div class="flex justify-between w-full items-center">
            <div class="">3,89€</div>
            <button class="btn btn-primary">
                <span class="material-symbols-outlined text-white">
                    shopping_cart
                </span>
            </button>
        </div>
    </div>
</div>
