<div class="w-full">
    <a href="./detail.html">
        <img
            class="aspect-square w-full object-cover object-center"
            src="./assets/album-{{albumId}}-cover.jpg"
        />
    </a>

    <div class="p-2">
        <a href="./detail.html" class="text-xl font-bold"
            >Lorem ipsum dolor sit
        </a>
        <div class="text-md mb-2">Artist name</div>

        <div class="flex w-full items-center justify-between">
            <div class="">3,89€</div>
            <button class="btn btn-primary">
                <span class="material-symbols-outlined text-white">
                    shopping_cart
                </span>
            </button>
        </div>
    </div>
</div>
