<div
    class="w-[15rem] sm:w-[18rem] flex-none snap-center snap-always no-scrollbar"
>
    <a href="./detail.html">
        <img
            class="w-full aspect-square object-cover object-center"
            src="./assets/album-{{ [1,2,3,4,5,6,7,8,9,10,11] | random }}-cover.jpg"
        />
    </a>

    <div class="p-2">
        <a href="./detail.html" class="font-bold text-xl"
            >Lorem ipsum dolor sit
        </a>
        <div class="font-semibold text-md mb-2">Artist name</div>

        <div class="flex justify-between w-full items-center">
            <div class="">3,89€</div>
            <button class="btn btn-primary">
                <span class="material-symbols-outlined text-white">
                    shopping_cart
                </span>
            </button>
        </div>
    </div>
</div>
