<!doctype html>
<html lang="en" data-theme="mytheme">
    <head>
        {% include "components/document-head.html" %}

        <link href="./category.css" type="text/css" rel="stylesheet" />
    </head>
    <body>
        {% include "components/header.html" %}

        <main class="mb-12 flex min-h-screen justify-center">
            <div class="w-full max-w-4xl px-4">
                <nav class="breadcrumbs pb-3 pt-4 text-sm sm:pt-4">
                    <ul>
                        <li><a href="./index.html">Home</a></li>
                        <li>Cart</li>
                    </ul>
                </nav>

                <div class="flex w-full flex-col items-center gap-4">
                    <ul class="steps mb-8 w-full">
                        <li class="step step-primary">Details</li>
                        <li class="step">Address</li>
                        <li class="step">Payment</li>
                    </ul>

                    {% include "components/product-tile-cart.html" %}
                    <!--  -->
                    {% include "components/product-tile-cart.html" %}
                    <!--  -->
                    {% include "components/product-tile-cart.html" %}
                    <!--  -->
                    {% include "components/product-tile-cart.html" %}
                    <!--  -->
                    {% include "components/product-tile-cart.html" %}
                    <!--  -->
                    {% include "components/product-tile-cart.html" %}
                    <!--  -->
                    {% include "components/product-tile-cart.html" %}
                    <!--  -->
                    {% include "components/product-tile-cart.html" %}
                    <!--  -->
                    {% include "components/product-tile-cart.html" %}
                    <!--  -->
                    {% include "components/product-tile-cart.html" %}
                    <!--  -->
                    {% include "components/product-tile-cart.html" %}
                    <!--  -->
                    {% include "components/product-tile-cart.html" %}
                    <!--  -->
                    {% include "components/product-tile-cart.html" %}

                    <a class="btn btn-primary" href="./address.html"
                        >Checkout</a
                    >
                </div>
            </div>
        </main>

        {% include "components/footer.html" %}
    </body>
</html>
