<!doctype html>
<html lang="en" data-theme="mytheme">
    <head>
        {% include "components/document-head.html" %}

        <link href="./detail.css" type="text/css" rel="stylesheet" />
    </head>
    <body>
        {% include "components/header.html" %}

        <main class="flex min-h-screen justify-center px-4">
            <div
                class="flex w-full max-w-6xl flex-col items-center gap-6 px-4 sm:items-start"
            >
                <div class="flex w-full flex-col gap-6 sm:flex-row">
                    <!-- product images -->
                    <div>
                        <!-- main product image -->
                        <img
                            class="main_image square-image flex-none object-cover shadow-sm"
                            src="./assets/album-3-cover.jpg"
                        />

                        <div class="flex flex-wrap gap-4">
                            <!-- secondary image -->
                            <img
                                class="secondary_image mt-4 flex-none object-cover shadow-sm"
                                src="./assets/album-3-front.jpg"
                            />

                            <img
                                class="secondary_image mt-4 flex-none object-cover shadow-sm"
                                src="./assets/album-3-back.jpg"
                            />
                        </div>
                    </div>

                    <!-- Text for the product -->
                    <div class="flex flex-col">
                        <!-- product title -->
                        <div class="product_title">Product title</div>

                        <!-- product description -->
                        <div class="product_description">
                            LLorem Ipsum is simply dummy text of the printing
                            and typesetting industry. Lorem Ipsum has been the
                            industry's standard dummy text ever since the...

                            <!-- product specification list -->
                            <div class="mt-4">
                                <ul>
                                    <li>
                                        <span class="font-bold"> Genre: </span>
                                        Genre
                                    </li>
                                    <li>
                                        <span class="font-bold"> Author: </span>
                                        Mäkky Žbirka
                                    </li>
                                    <li>
                                        <span class="font-bold">
                                            Release year:
                                        </span>
                                        2025
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <!-- product price button-->
                        <div class="categories flex w-full justify-end">
                            <button
                                class="buy-button cursor-pointer transition-all duration-150 hover:scale-105"
                            >
                                100$
                            </button>
                        </div>

                        <div class="flex w-full flex-col gap-6">
                            <!-- featured products -->
                            <include
                                src="src/components/featured-products.html"
                            ></include>
                        </div>
                    </div>
                </div>
                <!-- featured products -->
                {% include "components/featured-products.html" %}
            </div>
        </main>

        {% include "components/footer.html" %}
    </body>
</html>
