<!doctype html>
<html lang="en" data-theme="mytheme">
    <head>
        {% include "components/document-head.html" %}

        <link href="./index.css" type="text/css" rel="stylesheet" />
    </head>
    <body>
        {% include "components/header.html" %}

        <!-- Page layout -->
        <main
            class="flex min-h-screen w-full flex-col items-center px-4 md:px-20"
        >
            <!-- Banner -->
            <figure
                class="relative flex w-full max-w-[1600px] flex-none flex-col items-center"
            >
                <h2
                    class="max-w-1/2 absolute left-2 top-2 text-4xl font-bold text-white sm:left-6 sm:top-6 sm:text-6xl lg:text-8xl"
                >
                    New album just out!
                </h2>
                <a
                    href="./detail.html"
                    class="btn btn-primary bottom-18 absolute left-2 sm:bottom-20 sm:left-6"
                >
                    More
                </a>

                <img
                    class="h-52 w-full object-cover shadow-sm sm:h-64 lg:h-80"
                    src="https://images.unsplash.com/photo-1559366682-b24d010f6d65?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                />

                <!-- Stylish dots 💅 -->
                <div class="mb-8 mt-4 flex gap-2">
                    <span class="bg-base-300 h-2 w-2 rounded-full"></span>
                    <span class="bg-base-300 h-2 w-2 rounded-full"></span>
                    <span class="bg-base-300 h-2 w-2 rounded-full"></span>
                </div>
            </figure>

            <!-- Categories -->
            <nav class="categories mb-10 max-w-[1600px]">
                {% set categoryName = "Pop" %}
                <!--  -->
                {% include "components/category-tile.html" %}
                <!--  -->
                {% set categoryName = "Rock" %}
                <!--  -->
                {% include "components/category-tile.html" %}
                <!--  -->
                {% set categoryName = "Blues" %}
                <!--  -->
                {% include "components/category-tile.html" %}
                <!--  -->
                {% set categoryName = "Country" %}
                <!--  -->
                {% include "components/category-tile.html" %}
                <!--  -->
                {% set categoryName = "Metal" %}
                <!--  -->
                {% include "components/category-tile.html" %}
                <!--  -->
                {% set categoryName = "Indie" %}
                <!--  -->
                {% include "components/category-tile.html" %}
                <!--  -->
                {% set categoryName = "Hip-Hop" %}
                <!--  -->
                {% include "components/category-tile.html" %}
                <!--  -->
                {% set categoryName = "Classical" %}
                <!--  -->
                {% include "components/category-tile.html" %}
                <!--  -->
                {% set categoryName = "Punk" %}
                <!--  -->
                {% include "components/category-tile.html" %}
            </nav>

            <!-- Featured products -->
            <section class="flex w-full max-w-[1600px] flex-col gap-6">
                {% set rowTitle = "New arrivals" %}
                <!--  -->
                {% include "components/featured-products.html" %}

                <!--  -->
                {% set rowTitle = "Best sellers" %}
                <!--  -->
                {% include "components/featured-products.html" %}

                <!--  -->
                {% set rowTitle = "Try some indie" %}
                <!--  -->
                {% include "components/featured-products.html" %}
            </section>
        </main>

        {% include "components/footer.html" %}
    </body>
</html>
