.category-tile__card {
    display: flex;
    background-color: var(--color-base-200);
    border-radius: var(--radius-box);
    align-items: center;
}

.category-tile__image {
    height: 4rem;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: var(--radius-box);
}

.category-tile__text {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.25rem;
    font-weight: bold;
}
