.products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 1rem;
}

@media (width >= 40rem) {
    .products-grid {
        grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    }
}
