.buy-button {
    display: flex;
    align-items: center;
    border-radius: var(--radius-box);

    /* Fallback color (optional) */
    background-color: var(--surface-medium-color);

    color: whitesmoke;
    font-size: 1.25rem;
    font-weight: bold;
    padding: 1rem 1.5rem 1rem 1.5rem;

    /* Gradient using your color stops */
    background: linear-gradient(
        to right,
        #ebd197 0%,
        #b48811 50%,
        #a2790d 75%,
        #bb9b49 100%
    );
}

.secondary_image {
    width: 6rem;
    height: 6rem;
    justify-content: left;
}

/* Keep square at a reasonable width and height for all devices */
.gallery-frame-img {
    width: min(90vw, 60vh);
    height: min(90vw, 60vh);
}
