@import "./components/featured-products.css";

.buy-button {
    display: flex;
    align-items: center;
    border-radius: var(--radius-box);

    /* Fallback color (optional) */
    background-color: var(--surface-medium-color);

    color: whitesmoke;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem 2rem 1rem 2rem;

    /* Gradient using your color stops */
    background: linear-gradient(
        to right,
        #ebd197 0%,
        #b48811 50%,
        #a2790d 75%,
        #bb9b49 100%
    );
}

.main_image {
    
    width: 500px;
    aspect-ratio: 1/1;
    justify-content: flex-start;
    object-fit: cover;
    display: block;
}

@media (width >= 40rem) {
    .main_image {
        width: 1000px;
    }
}
.product_description {
    font-size: 1.2rem;
}

.product_title {
    font-size: 2rem;
    font-weight: bold;
}

.secondary_image{
    width: 6rem;
    height: 6rem;
    justify-content: left;
}
